html {
  font-family: 'Gruppo', cursive, lato, sans-serif;
  font-size: 12px;
  background: #6699cc;
  background: linear-gradient(to bottom #cb60b3 0%,#ed9017 100%);  }
  
body {
  display: flex;
  height: 100vh;
}
main {
  width: 80%;
  font-family: 'Gruppo', cursive, lato, sans-serif;
  margin: auto;
}
h1 {
  color: #fff;
  writing-mode: vertical-rl;
  font-size: 7.8vw;
  float: right;
  margin: 0;
}
.button{
 padding:3px 9px 3px 9px;
 text-decoration: none;
 display: inline-block;
 border-bottom: 1px solid rgba(0,0,0,0.25);
 font-family: "Gruppo",Lucida,Verdana,sans-serif;
 font-size: 30%;
 outline:none;
 position:relative;
 font-size: 22px;
 margin:10px;
 background:transparent url(buttonover.png) repeat-x top left;
 white-space:nowrap;
 }
 .button:hover{
 background-color: #777;
 }
 .button:active{
 top: 1px;
 left:1px;
 }
  .rose{
 background-color: #F07FD0;
 color: #FFF;
 font-family: "Palatino Linotype";
 font-style: italic;
 letter-spacing:-1px;
 text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
 }
 .rose:hover{
 background-color: #B07FA0;
 }
img {
  display: block;  
  max-width: 85%;
  max-height: 90vh;
}  

ul {
  font-family: 'Gruppo', cursive, lato, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 10px;
  background: #26558b;
  list-style-type: none;
 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: #7abcff; /* Old browsers */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  }
  
  li {
  padding: 1em;
  background: #76C4BB;
  opacity: 0.75;
}
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(7), 
  li:nth-child(10),
  li:nth-child(14),
  li:nth-child(16),
  li:nth-child(32){
  background: #cb60b3+0;
}
  li:nth-child(3) {
	grid-column: span 2;  
}
  li:nth-child(4) {
	grid-row: span 2;  
  }	
  li:nth-child(7) {
	grid-column: span 2;
    grid-row: span 2;	
  }
    li:nth-child(10) {
	grid-column: span 2;  
}
  li:nth-child(14) {
    grid-row: span 2;	
  }
    li:nth-child(16) {
	grid-column: span 2;	
    grid-row: span 2;	
  }
      li:nth-child(30) {
	grid-column: span 3;  
}
  
  .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(150px,2fr));
     grid-gap: 2rem;
}
